nav {
  background-color: #191924;
  color: #fff;
  width: 100%;
  padding: 10px 50px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__items {
  display: flex;
}

.nav__items a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.nav__items a:hover {
  color: #ffc107;
}

.git {
  background-color: transparent;
  border: 1px solid #ffc107;
  color: #ffc107;
  font-weight: 500;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.git:hover {
  background-color: #f0c440;
  color: #fff;
}

@media screen and (max-width: 669px) {
  .nav__items {
    display: none;
  }
}
